<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="C:\Program Files\Siemens\Automation\Portal V20\Bin\PublicAPI;C:\Program Files\Siemens\Automation\Portal V20\PublicAPI\V20" />
    </assemblyBinding>
  </runtime>
</configuration>