<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.3.25171.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.Memory" version="9.0.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.AI.Abstractions" version="9.5.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net48" />
  <package id="ModelContextProtocol" version="0.2.0-preview.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net" version="3.0.1725521661" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net.CoreExtensions" version="3.0.1725521661" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net.Logging" version="3.0.1725521661" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net.OperatingSystem.Windows" version="3.0.1725521661" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net.TiaPortal.Openness.Resolver" version="1.1.1725480302" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net.TiaPortal.Packages.Openness" version="18.0.1685432622" targetFramework="net48" />
  <package id="Siemens.Collaboration.Net.Windows.Authentication" version="3.0.1725521661" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.5" targetFramework="net48" />
  <package id="System.DirectoryServices" version="8.0.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.5" targetFramework="net48" />
  <package id="System.Management" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Net.ServerSentEvents" version="10.0.0-preview.3.25171.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.5" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.5" targetFramework="net48" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>